/* target elements by id/class names */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-rows: 80px auto 80px;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(to bottom, #000c18, #001120);
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  position: relative;
  padding: 10px 10px;

  .logo {
    position: absolute;
  }

  nav {

    #nav_ul::before {
      content: '';
      width: 10px;
    }

    #nav_ul {
      display: flex;
      justify-content: space-between;

      .time {
        position: relative;
        top: 35px;
      }
    }
  }
}

#output {
  background: linear-gradient(#001323, #001323) padding-box,
              linear-gradient(to right, #000585, #85006F) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

.input_output_style {
  border-color: #003360;
  padding: 0 12px;
  color: #fff;
  opacity: 0.8;
  outline-width: 0px;
}

#output_window {
  color: #fff;
  font-size: 18px;
  border: none;

  padding: 0 10px;
  opacity: 0.3;

  max-width: 99vw;
  overflow: scroll;
  word-wrap: break-word;
  white-space: pre-line;
}

.checkmark {
  stroke: greenyellow;
}

@media only screen and (min-width: 768px) {
  header {
    nav {
      #nav_ul {
        .time {
          position: static;
        }
      }
    }
  }
}