/* target elements by id/class names */

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#mainCont {
  grid-template-rows: 1fr 3fr 1fr 1fr;
}

#headerList {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-areas: 
  "logo . . github"
  ". time . .";
}

@media only screen and (min-width: 768px) {
  #headerList {
    grid-template-areas: 
    "logo time github";
  }
}

.logo {
  grid-area: logo;
}

.time {
  grid-area: time;
  text-align: center;
}

.github-icon {
  grid-area: github;
}

#output {
  background: linear-gradient(#001323, #001323) padding-box,
              linear-gradient(to right, #000585, #85006F) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

.input_output_style {
  border-color: #003360;
  padding: 0 12px;
  color: #fff;
  opacity: 0.8;
  outline-width: 0px;
}

.input_output_style::placeholder {
  opacity: 0.3;
  font-size: 14px;
}

.input_output_style::selection {
  background-color: #85006F;
}